<%- include("../partials/head")%>

    <%- include('../partials/navbar')%>

        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-1"></div>
                <div class="col-10">
                    <h1>Edit </h1>
                    <form class="justify-content-cente" method="POST" action="/comments/<%= comment.id %>?_method=PATCH">
                        <textarea name="comment" id="" cols="30" rows="10"><%= comment.comment %> </textarea>
                        <br>
                        <button>Save</button>
                    </form>



                    <br>
                    <a href="/comments">Back to index</a>
                </div>
                <div class="col-1"></div>
            </div>
        </div>


        <%- include('../partials/footer')%>