<%- include("../partials/head")%>

    <%- include('../partials/navbar')%>
        <div class="container pt-2">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">



                    <h1 class="pt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2.8rem" height="2.8rem" fill="currentColor"
                            class="bi bi-bookmark-star" viewBox="0 0 16 16">
                            <path
                                d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z" />
                            <path
                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                        </svg>
                        <%= comment.comment %>
                    </h1>

                    <ul class="list-group pt-1">
                        <li class="list-group-item">To do id: <%= comment.id %>
                        </li>
                        <li class="list-group-item">
                            <%= comment.username %>
                        </li>

                        <li class="list-group-item">
                            <div class="d-flex  justify-content-center">
                                <a class="costBorder" href="/daily/<%= comment.id %>/edit">Edit to do</a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex  align-items-end justify-content-end ">
                                <form method="POST" action="/daily/<%= comment.id %>?_method=DELETE">
                                    <button class="costBorder">Delete</button>
                                </form>
                            </div>
                        </li>
                    </ul>

                    <div class="d-flex align-items-end justify-content-end pt-5 ">
                        <a class="costBorder mx-3" href="/daily">Back to list</a>
                    </div>


                </div>
                <div class="col-1"></div>
            </div>
        </div>


        <%- include('../partials/footer')%>