<%- include("../partials/head")%>

    <%- include('../partials/navbar')%>
        <div class="container pt-2">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">



                    <h1 class="pt-2">
                        <%= comment.comment %> - <%= comment.username %>
                    </h1>

                    <ul>
                        <li>To do id#: <%= comment.id %></li>
                        <li>
                            <label for="username">Enter a priority level:</label>
                            <select name="username" id="username" selected="On Standby">
                                <option value="High Priority">High Priority</option>
                                <option value="Medium Priority" <%=( comment.username==="Medium Priority" ) ? "SELECTED"
                                    : "" %>>Medium Priority</option>
                                <option value="Low priority">Low priority</option>
                                <option value="On Standby">On Standby</option>
                            </select>
                        </li>
                    </ul>




                    <div>
                        <form method="POST" action="/comments/<%= comment.id %>?_method=DELETE">
                                            <button class="">Delete</button>
                                        </form>
                    </div>
                   


                    <hr>
                    <div class="d-flex  align-items-end justify-content-end pt-5 ">
                        <a class="costBorder mx-3" href="/comments">Back to list</a>
                        <a class="costBorder" href="/comments/<%= comment.id %>/edit">Edit to do</a>
                    </div>


                </div>
                <div class="col-1"></div>
            </div>
        </div>


        <%- include('../partials/footer')%>